/*
* Paige Berstler
* 10/23/18
* Favorite Things Images
*/

/* The universal selector */

*{ 

}

/* Body attributes here */

body { background-color: azure; }
    
img { width: 400px; height: 350px; }
#triforce { width: 350px; height: 350px; }
#cheesecake { width: 475px; height: 350px; }

